:root {
    --main-bg-color: #F4F7FE;
    --card-bg-color: #FFFFFF;
    --text-color: #000000;
    --white-text-color: #FFFFFF;
    --gray-bg-color: #dbdbdb;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

/* Make the card-row display eleemnts side by side */
.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    margin-left: 5vw;
    padding: 0;
}

/* make user-card display to the right of the page from card-row */
.recent-bugs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
    margin-left: 30%;
    padding: 0;
    width: 500px;
    height: 300px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.2s;
    border-radius: 10px;
}

.recent-bug {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 35%;
    margin-bottom: 40%;
    margin-top: 20%;
    font-size: 1rem;
}


.recent-bug {
    color: var(--text-color);
}

.recent-bug li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    margin-bottom: 20px;
}

.recent-bug li a {
    color: var(--text-color);
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.recent-bug li a:hover {
    color: #4d4c4c;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.recent-act {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.card {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.2s;
}

.card:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
}

.card .image {
    width: 25%;
    height: 25%;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.card-figure h2{
    transition: ease-in-out 0.2s;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

.subject  {
    transition: ease-in-out 0.2s;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

.subject h5{
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
    font-weight: normal;
}


.overview-title {
    text-align: center;
    font-size: .9rem;
    font-weight: normal;
    padding: 0;
    color: var(--text-color);
    width: 100%;
}

.overview-title h1 {
    font-weight: normal;
}

.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.profile-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: var(--card-bg-color);
}

/* Get links and dispaly left of page */
.profile-nav .links {
    display: flex;
    align-items: center;
    flex: 1;
}

.profile-nav .links a {
    font-size: 16px;
    padding: 12px 30px;
    color: var(--text-color);
    text-decoration: none;
    transition: ease-in-out 0.1s;
}

.profile-nav .links a:hover {
    background-color: var(--white-text-color);
    border-radius: 5px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
}

.dropdown-menu {
    width: 150px;
    background-color: var(--card-bg-color);
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;
}

.dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-item {
    font-size: 16px;
    padding: 12px 30px;
    color: var(--text-color);
    text-decoration: none;
    transition: ease-in-out 0.1s;
}

.dropdown-item:hover {
    background-color: var(--gray-bg-color);
}

.icon {
    display: none;
}

/* Mobile */
@media screen and (max-width: 600px) {
    .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .icon {
        color: var(--text-color);
    }

    .profile-nav {
        display: none;
    }
}