* {
    transition: all 0.2s ease-in-out;
}

:root {
    --main-bg-color: #F4F7FE;
    --card-bg-color: #FFFFFF;
    --text-color: #000000;
    --white-text-color: #FFFFFF;
    --gray-bg-color: #dbdbdb;
    --nav-hover-color: #c5c5c5;
    --dark-text-color: #000000;
    --gray-text-color: #808080;
    --link-color: #ff18cd;
    --blue-crete-color: #2c3e50;
    --blue-hover-color: #34495e;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

.profile-nav {
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: var(--card-bg-color);
}

/* Get links and dispaly left of page */
.profile-nav .links {
    display: flex;
    align-items: center;
    flex: 1;
}

.profile-nav .links a {
    font-size: 16px;
    padding: 12px 30px;
    color: var(--text-color);
    text-decoration: none;
    transition: ease-in-out 0.1s;
}

.profile-nav .links a:hover {
    background-color: var(--nav-hover-color);
    border-radius: 5px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}

.dropdown-menu {
    width: 150px;
    background-color: var(--card-bg-color);
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;
}

.dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-item {
    font-size: 16px;
    padding: 12px 30px;
    color: var(--text-color);
    text-decoration: none;
    transition: ease-in-out 0.1s;
    user-select: none;
}

.dropdown-item:hover {
    background-color: var(--gray-bg-color);
}

.icon {
    display: none;
}

.org-information-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.org-information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 1%;
    background-color: var(--card-bg-color);
    border-left: solid 1px var(--gray-bg-color);
    border-right: solid 1px var(--gray-bg-color);
    border-top: solid 1px var(--gray-bg-color);
}

.org-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.org-name {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.org-description {
    font-size: 16px;
    color: var(--gray-text-color);
    margin-bottom: 10px;
}

.projects-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px var(--gray-bg-color);
}

.project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    height: 30vh;
   
}

.project-name {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.project-description {
    font-size: 16px;
    color: var(--gray-text-color);
    margin-bottom: 10px;
    max-width: 150px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.projects-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    height: 15vh;
    margin-bottom: 20px;
}

.project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    height: 30vh;
}

.project-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    padding: 20px;
}

.roundedFixedBtn{
  height: 60px;
  line-height: 65px;  
  width: 60px;  
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: var(--blue-crete-color);
  color: white;
  text-align: center;
  cursor: pointer;
}

.roundedFixedBtn:hover{
  background-color: var(--blue-hover-color);
}

.org-settings-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.org-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75%;
    height: 100%;
    padding: 0 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--card-bg-color);
    border-left: solid 1px var(--gray-bg-color);
    border-right: solid 1px var(--gray-bg-color);
    border-bottom: solid 1px var(--gray-bg-color);
}

.org-option {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
}


.org-option:hover {
    background-color: var(--gray-bg-color);
}

.org-option a {
    text-decoration: none;
    color: var(--text-color);
}

.settings-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px var(--gray-bg-color);
}

.settings-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.settings-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.settings-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
  
}

.settings-option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 60%;
    max-width: 1200px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.settings-option-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.settings-option-name {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.settings-option-description {
    font-size: 16px;
    color: var(--gray-text-color);
    margin-bottom: 10px;
}

.settings-option-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 8%;
    max-width: 1200px;
    padding: 20px 20px;
    margin-bottom: 10px;
}

.setting-option-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    max-width: 1200px;
    padding: 15px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
    background-color: var(--blue-crete-color);
}

.setting-option-button:hover {
    background-color: var(--gray-bg-color);
}

.members-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px var(--gray-bg-color);
}

.members-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.member-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.members-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    max-width: 1200px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.member-name {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}



.member-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    max-width: 1200px;
    padding: 15px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: ease-in-out 0.1s;
    cursor: pointer;
    background-color: var(--blue-crete-color);
}

.member-button:hover {
    background-color: var(--gray-bg-color);
}

.innerModal {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
}

.fixedHolder {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

table {
    width: 100%;
    height: 100%;
}

td {
    padding: 20px;
}

.innerModalHolder {
    position: relative;
    background-color: var(--card-bg-color);
    border: solid 1px var(--gray-bg-color);
    text-align: center;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}

.close-button {
    overflow: unset;
    position: absolute;
    top: -1px;
    right: -2px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
}

.close-button:hover {
    color: var(--nav-hover-color);
}

.innerHeader {
    padding: 20px;
}

.innerTitle {
    color: var(--text-color);
}


.innerContent {
    padding-bottom: 20px;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

input {
    width: 50%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: var(--card-bg-color);
    border: 1px solid var(--gray-bg-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    color: var(--gray-text-color);
}

input::placeholder {
    color: var(--gray-text-color);
}

input:focus {
    transition: ease-in-out 0.5s;
    border: 1px solid var(--text-color);
    transform: scale(1.05);
}

input[type=submit] {
    width: 50%;
    background-color: var(--nav-hover-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--gray-bg-color);
    color: white;
} 