* {
    -webkit-appearance: none;                           
}

.back-button-holder {
    width: 100%;
}

.back-button {
    margin-left: 5px;
    width: 3.5%;
}

.back-button-item {
    background-color: rgb(4, 170, 4);
    padding: 12px 12px;
    border-radius: 12px;
}

.back-button-item:hover {
    cursor: pointer;
    background-color: green;
}

.breadcrumbs {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-left: 15px;
    padding: 10px;
    font-family: sans-serif;
}

.breadcrumbs-item {
    display: inline-block;
    text-align: left;
}

.breadcrumbs-item:not(:last-of-type)::after {
    content: '/';
    margin: 0 5px;
    color: #e0e0e0
}

.breadcrumbs-link {
    text-decoration: none;
    color: #f2f2f2;
}

.breadcrumbs-link:hover {
    text-decoration: underline;
}

.list-holder {
    margin-left: 15px;
    padding: 10px;
    display: inline-block;
}

.list-header {
    margin: 10px 10px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#show-orgs {
    user-select: none;
    cursor: pointer;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
}


.topnav > :nth-last-child(2) {
    float: right;
}

.topnav > :nth-last-child(3) {
    float: right;
}
  

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: rgb(119, 119, 119);
    color: black;
}

.topnav .icon {
    display: none;
}

h1 {
    font-size: 4rem;
}
.title-sub {
    font-size: 1.5rem;
}

.title-sub a{
    text-decoration: none;
    color: #E100FF;
}

.link {
    text-decoration: none;
    color: #E100FF;
}

.link:hover {
    text-decoration: underline;
    color: #c318da;
}

.org-description {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-left: 15px;
    padding: 10px;
    font-family: sans-serif;
}


.bug-options-bar {
    width: 100vw;
    display: inline;
    user-select: none;
}

.bug-options {
    width: 100%;
    display: inline;
}

.bug-option {
    width: 100%;
    display: inline;
    margin: 25px 25px;
    padding: 15px 15px;
    background-color: #7d7d7d;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.bug-option:hover {
    background-color: #6a6a6a;
    transition: ease-in-out 0.2s;
}

.comment-holder {
    margin-left: 15px;
    padding: 10px;
}

.create-org {
    display: inline-block;
    margin-left: 5px;
    background-color: #202731;
    min-width: 18vw;
    width: 18vw;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    justify-content: left;
    margin-bottom: 20px;
    color:rgb(218, 218, 218);
    text-decoration: none;
    border-radius: 5px;
}

.org-row {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.create-org:hover {
    transition: ease-in-out 5ms;
    cursor: pointer;
    background-color: #2c333b;
}

.org-row::-webkit-scrollbar {
    display: none;
}

.card {
    margin-left: 5px;
    text-align: center;
    width: 18vw;
    min-width: 18vw;
    height: 5vh;
    padding-bottom: 15px;
    display: inline-block;
    background-color: #202731;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 0.9rem;
    overflow-y: hidden;
    user-select: none;
}

.card:hover {
    transition: ease-in-out 5ms;
    background-color: #2c333b;
    cursor: pointer;
}

.card1 {
    margin-left: 5px;
    text-align: center;
    width: 20vw;
    min-width: 20vw;
    height: 14vh;
    padding-bottom: 15px;
    display: inline-block;
    background-color: #202731;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 0.9rem;
    overflow-y: hidden;
    user-select: none;
    overflow-x: hidden;
}

.button-row {
    display: inline-block;
    width: 15vw;
    height: 100%;
}

.button-holder {

    margin-right: 10vw;
    width: 100%;
    height: 5%;
}

.button-item {
    display: inline-block;
    width: 5vw;
    height: 50%;
}

.button-item input {
    display: inline-block;
    max-width: 35%;
    max-height: 50%;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 0.9rem;
    cursor: pointer;
}

.button-item form {
    display: inline-block;
    width: 100%;
    min-width: 100%;
}

.card-row {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    user-select: none;
}

.card-row::-webkit-scrollbar {
    display: none;
}

.create-comment-holder{
    margin-top: 50px;
}

.comment-send {
    width: 12%;
    cursor: pointer;
}

.comment-field input[type=submit]:hover {
    transition: ease-in-out 0.3s;
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

.info {
    margin-left: 5px;
    text-align: center;
    width: 12vw;
    height: 100%;
    padding-bottom: 15px;
    display: inline-block;
    background-color: #202731;
    border-radius: 10px;
}

.info-row {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}



.info-row::-webkit-scrollbar {
    display: none;
}

.info p {
    margin: 0;
}
  
.info h5 {
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    border: none;
    border-radius: 5px;
    width: 30vw;
    height: 4vh;
    outline: none;
    font-size: 0.9rem;
    z-index: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-webkit-input-placeholder {
    font-size: 0.9rem;
}

select {
    border: none;
    border-radius: 5px;
    width: 30vw;
    height: 4vh;
    outline: none;
    font-size: 0.9rem;
    z-index: 2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 5px;
}

.input-row {
    margin-bottom: 5px;
    z-index: 2;
}

.input-row input[type=submit] {
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: white;
    color: #0f0f10;
}

.input-row, .remove-btn input[type=submit] {
    -webkit-appearance: none;
    width: 100%;
}

.input-row input[type=submit]:hover {
    -webkit-appearance: none;
    transition: ease-in-out 0.3s;
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

.blue {
    background: #392fc4;
    z-index: 0;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
    overflow: hidden;
}

.dark {
    background: #0f0f10;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
    z-index: -1;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 60%;
    height: 95%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
    z-index: 0;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 60%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: 0;
}

.sign-options {
    display: inline-flex;
}

.button-holder{
    width: 50%;
    margin-bottom: 5px;
}

.button-holder input {
    margin: 0px;
    width: 12vw;
    cursor: pointer;
    color: #0f0f10;
}

.button-holder input:hover {
    transition: ease-in-out 0.3s;
    background-color: rgb(218, 218, 218);
    -webkit-appearance: none;
}

.url {
    color: #E100FF;
}

.bug-holder {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: #0f0f10;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.bug-holder:hover {
    transition: ease-in-out 0.2s;
    background-color: #2c333b;
    cursor: pointer;
}

.bug-item {
    user-select: none;
    text-align: left;
    margin-left: 10px;
}

.bug-container {
    width: 99%;
    overflow-y: hidden;
}

.pagination {
    text-align: center;
    user-select: none;
    margin-top: 2vh;
    margin-bottom: 10px;
}

.pagination a{
    background-color: #202731;
    padding: 10px 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 100%;
    color: rgb(218, 218, 218);
    font-size: 17px;
    text-decoration: none;
    text-align: center;
}

.pagination a:hover {
    transition: ease-in-out 0.3s;
    background-color: #2c333b;
    color: rgb(189, 189, 189);
    cursor: pointer;
}

.members, .due-date {
    position: relative;
    display: block;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-left: 15px;
    padding: 10px;
    font-family: sans-serif;
}

.comemnt-bug {
    position: relative;
    display: block;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    font-family: sans-serif;
}

.members p {
    margin: 0;
    margin-bottom: 10px;
}


.option-icon {
    display: inline-block;
    color: whitesmoke;
}

.option-bar-item {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.option-bar {
    display: inline-block;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-left: 15px;
    font-family: sans-serif;
}


.option-icon:hover {
    color: dimgrey;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}


.settings-item input {
    display: inline-block;
}

.assign-holder {
    margin-top: 50px;
    cursor: pointer;
    padding: 5px 5px;
    width: 100%;
    background-color: green initial;
} 

.assign-user-btn {
    border-radius: 5px;
    text-align: center;
    width: 10%;
    background-color: green;
    text-decoration: none;
    color: white;
}

.assign-user-btn:hover {
    background-color: rgb(7, 160, 7);
    transition: ease-in-out 0.2s;
}

.comments-holder {
    margin-top: 50px;
    cursor: pointer;
    padding: 0px 0px;
    width: 100%;
    background-color: green initial;
}


.item {
    float:left;
    padding-left: 50%;
    padding: 0px 0px 0px 16px !important;
    border: none;
    vertical-align: middle;
    height: 48px;
    line-height: 48px;
    margin-right: auto;
}


@media screen and (max-width: 700px) {
    input {
        border: none;
        border-radius: 5px;
        width: 50vw;
        height: 5vh;
        outline: none;
    }

    select {
        border: none;
        border-radius: 5px;
        width: 50vw;
        height: 5vh;
        outline: none;
    }

    .curve {
        height: 140px;
    }

    h1 {
        font-size: 3.3rem;
    }

    .title-sub {
        font-size: 1.07rem;
        margin-left: 18px;
    }

    .footer-txt {
        font-size: 0.9rem;
    }


    .button-holder{
        width: 50%;
        margin-bottom: 5px;
    }
    
    .button-holder input {
        margin:0 5px;
        width: 24vw;
    }

    .info {
        user-select: none;
        width: 30vw;
        min-width: 30vw;
        height: 12vh;
        min-height: 12vh;
    }

    .card {
        width: 45vw;
        min-width: 45vw;
    }

    .card1 {
        width: 70vw;
        min-width: 70vw;
        height: 12vh;
    }

    .button-item {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px 5px;
        background-color:#afb0b1;
        border-radius: 5px;
    }

    .button-item a {
        font-size: 0.8rem;
    }

    .create-org {
        width: 35vw;
    }

    .topnav a:not(:first-child) {display: none;}
    
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav a:hover {
        background-color: rgb(119, 119, 119);
        color: black;
    }

    .info-no-data {
        margin-left: 10px;
    }

    
    .assign-user-btn {
        border-radius: 5px;
        text-align: center;
        width: 22%;
        background-color: green;
        text-decoration: none;
        color: white;
    }
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 5px;
    right: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}