* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0d0d0d;
    color: white;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    padding: 8px 16px;
}

h4 {
    padding: 8px 16px;
    color: white;
}

h3 {
    padding: 8px 16px;
    color: white;
}

h1 {
    padding: 8px 16px;
    color: white;
}

.title h4 {
    background-color: #4d4d4d;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10.2%;
    background-color: #4d4d4d;
    height: 100%; 
    position: fixed; 
    overflow: hidden; 
    user-select: none;
}

li {
    background-color: #4d4d4d;
}
  
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #4d4d4d;
}

/* Change the link color on hover */
li a:hover {
    background-color: #1a1a1a;
    color: white;
}

.login {
    display: flex;
    position: fixed;
    margin: 45vh 40vw;
    width: 20vw;
    height: 10vh;
}

input {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    width: 15vw;
    height: 3vh;
    margin-bottom: 1vh;
    padding-left: 5px;
    transition: 0.2s ease-in-out;
    outline: none;
}
    
.btn {
    background-color: white;
    height: 5vh;
    width: 10vw;
    margin-left: 2vw;
    transition: 0.2s ease-in-out;
    font-size: 1.8vh;
}

.btn:hover {
    background-color: rgb(169, 169, 169);
    font-size: 2.2vh;
}

.btn2 {
    background-color: white;
    height: 5vh;
    width: 10vw;
    margin-left: 2vw;
    transition: 0.2s ease-in-out;
    font-size: 1.8vh;
}

.btn2:hover {
    background-color: rgb(169, 169, 169);
    font-size: 1.9vh;
}

.btn1 {
    background-color: rgb(34, 206, 71);
    height: 8vh;
    width: 14vw;
    margin-left: 2vw;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.8vh;
}

.btn1:hover {
    background-color: rgb(140, 228, 150);
    font-size: 2.2vh;
}

.link1 {
    margin-left: 1vw;
}

.body {
    background-color: #0d0d0d;
    margin-left: 10vw;
    margin-top: 1vh;
}

.body1 {
    margin-left: 40vw;
    margin-top: 30vh;
}

.txt1 {
    height: 5vh;
}


.card {
    text-align: center;
    background-color: #1a1a1a;
    width: 20vw;
    height: 25vh;
    border-radius: 1vw;
    cursor: pointer;
    margin-left: 1vw;
    margin-top: 1vh;
    display: inline-block;
}

.card h4, p{
    background-color: transparent;
    width: 20vw;
    height: 3vh;
}

.card:hover {
    background-color: #4d4d4d;
}

.card-row {
    display: inline-block;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #4d4d4d; /* Fallback color if gradients are not supported */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card1 {
    text-align: center;
    background-color: #1a1a1a;
    width: 100%;
    height: 16vh;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-left: 1vw;
    margin-top: 1vh;
    display: inline-block;
    transition: 0.2s ease-in-out;
}

.card1 h4, p{
    background-color: transparent;
    width: 18vw;
    height: 3vh;
    text-align: center;
}

.card1:hover {
    background-color: #4d4d4d;
}

.btn3 {
    background-color: rgb(34, 206, 71);
    height: 5vh;
    width: 14vw;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.8vh;
    margin-right: 1vw;
}

.btn3:hover {
    background-color: rgb(140, 228, 150);
    font-size: 2.2vh;
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1vw;
  background: rgb(74, 74, 74, 0.545);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1vw;
  background: rgba(136, 136, 136, 0.545);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
